body {
    margin: 0 auto;
    background-color: rgba(6, 0, 255, 0.09);
    font-family: 'Roboto', sans-serif;
}

a {
    /*display: block;*/
    color: #dfe1ff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
    color: #049091;

}

a:active {
    color: black;
}

a:visited {
    color: #dfe1ff;
}


.navigation {
    width: 100%;
    height: 50px;
    background-color: #033f85;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    background: #dfe1ff;
    border: 1px solid rgba(51,51,51,.1);
    width: 80%;
    margin: 32px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    text-align: center;
}

.form a {
    color: #000000;
    display: inline;
    font-size: 10px;

}

.login {
    margin: 15px 0px;
}